<mat-card>

  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Humayun Rashid</mat-card-title>
    <mat-card-subtitle>www.microsoft.com</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="/assets/images/avatar-png-1.png">

  <mat-card-content>
    <p>Zoya Fatima Rashid !! --> Nunu</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="primary">Like</button>
    <button mat-button color="primary">Delete</button>
    <div class="flex-spacer"></div>
    <button mat-icon-button><mat-icon>publish</mat-icon></button>
  </mat-card-actions>

</mat-card>
