.mat-card {
  max-width: 300px;
  margin: auto;
}

.mat-card-avatar {
  background-image: url('~src/assets/images/avatar-png-1.png');
  background-size: cover;
}

.mat-card-actions {
  display: flex;
}

.mat-card-actions .flex-spacer {
  width: 100%;
}
